/* responsive image */
source, img {
    width: 100%;
}

/* responsive background */
#bg {
    background-image: url('../img/xs-bg/ian-schneider-41925-unsplash.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    margin-top: 20px;
    width: 100%;
}

@media screen and (min-width: 576px) {
    #bg {
        background-image: url('../img/sm-bg/ian-schneider-41925-unsplash.jpg');
    }
}

@media screen and (min-width: 768px) {
    #bg {
        background-image: url('../img/md-bg/ian-schneider-41925-unsplash.jpg');
    }
}

@media screen and (min-width: 992px) {
    #bg {
        background-image: url('../img/lg-bg/ian-schneider-41925-unsplash.jpg');
    }
}

@media screen and (min-width: 1200px) {
    #bg {
        background-image: url('../img/xl-bg/ian-schneider-41925-unsplash.jpg');
    }
}

